# ----------------------
# Dependencies & build outputs
# ----------------------
node_modules
.next
out

# ----------------------
# Local caches / logs
# ----------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------
# Editor / OS junk
# ----------------------
.DS_Store
.vscode
.idea

# ----------------------
# Env files
# ----------------------
# Ignore all actual env files
.env
.env.*
# Allow committed examples through
!.env.example
!*/.env.*.example