# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
.venv/
*.sqlite*

# Ignore all env files by default
.env
.env.*

# But allow committed sample env files
!.env.example
!*/.env.*.example

# ----------------------
# Node / Next.js
# ----------------------
node_modules/
.next/
out/
*.log

# ----------------------
# Docker
# ----------------------
*.pid
*.tar
# docker-compose*.yml
!docker-compose.example.yml

# ----------------------
# OS / Editor junk
# ----------------------
.DS_Store
.idea/
.vscode/