httpx==0.27.2
yfinance==0.2.43
yahooquery==2.3.7
fastapi-admin
sqlalchemy[asyncio]
jinja2
redis>=5
itsdangerous
sqladmin
sqlalchemy>=2
fastapi
uvicorn[standard]
sqlmodel
psycopg[binary]
pydantic-settings
python-multipart
requests
alembic
authlib
pyotp
qrcode
passlib
APScheduler==3.10.4
gunicorn==21.2.0
passlib
email-validator
pydantic[email]>=2.4